html{
  scroll-behavior: smooth;
  body, button{
    font-family: 'Open Sans', sans-serif;
    h1, h2, h3, h4, h5, h6, b{
      font-family: 'Muli', sans-serif;
    }
    a{
      z-index: 1;
    }
  }
}

.sect{
  margin: 2rem 0;
}

.main-bg{
  // background-color: #3a7b77;
}

.svg-inline--fa{
  color: darkgrey;
}

.jumboTitle{
  font-size: 180px !important;
  background-image: url("../images/404.jpeg");
  background-size: 100% 100%;
  color: transparent !important;
  -webkit-background-clip: text;
}

.main-content, .header, .foot{
  max-width: 800px;
  margin:auto;
}

.social{
  .first-bar{
    margin-bottom: 12px;
  }
}

.socialButtonIcons{
  a{
    padding-right: 6px;
  }
}
