.mainwrapper{
  max-width: 800px;
}

html{
  scroll-behavior: smooth;
  body, button{
    font-family: 'Open Sans', sans-serif;
    h1, h2, h3, h4, h5, h6, b{
      font-family: 'Muli', sans-serif;
    }
  }
}

body{
  transition: background 0.3s ease-out;
  transition-delay: 0.25s;
}

#site-content{
  transition: all 0.4s ease-out;
}

.fadeTrans{
  transition: 0.25s;
  opacity: 1;
  animation: slideUp 0.9s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  transform: translate3d(0, 4vh, 0);
}
html.is-animating .fadeTrans {
  opacity: 0;
}
@keyframes slideUp {
0% {
  transform: translate3d(0, 4vh, 0);
}
100% {
  transform: translate3d(0, 0, 0);
}
}


#site-head{
  transition: height 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 1s;
}

#site-foot{

}

a, .postListSingle {
  transition: 0.4s ease;
}

a:hover, .postListSingle:hover{
  transition: 0.2s ease;
}

.mainHeight{
  height: 80vh;
}

.mainHeightMobile{
  height: 70vh;
}

img{
  pointer-events: none;
}

