body, button{
  font-family: 'Open Sans', sans-serif;
  h1, h2, h3, h4, h5, h6, b{
    font-family: 'Muli', sans-serif;
  }
  a{
    z-index: 1;
  }
}

.svg-inline--fa{
  color: darkgrey;
}

.jumboTitle{
  font-size: 180px !important;
  background-image: url("../images/404.jpeg");
  background-size: 100% 100%;
  color: transparent !important;
  -webkit-background-clip: text;
}

.content, .header, .foot{
  max-width: 800px;
  margin:auto;
  justify-content: space-between;
}

.socialButtonIcons{
  a{
    padding-right: 6px;
  }
}
