
.bg-customnav {
    background-color: #2c5b59 !important;
}

.wrapper{
    background-color: #3a7b77 !important;
}

.custom-footer {
    padding: 50px 0;
    border-top: 2px solid #4e9b96;
    color : #48928d;
    background: radial-gradient(ellipse at bottom, #2c5b59 30%, #225552 80%);
}